.short-info{
    width: 33%;
    /* background-color: red; */
}

.long-info{
    width: 67%;
    /* background-color: yellow; */
}

.movie-card{
    width: 20%;
}

.movie-card .card-body{
    background-color: var(--grey);
    padding: 1em;
    transition: .6s;
}

.movie-card:hover .card-body{
    background-color: var(--red);
}

.movie-card:hover .mov-thumbnail{
    border: 10px solid var(--red);
}

.mov-thumbnail{
    height: 250px;
    border: 10px solid var(--grey);
    border-radius: 5px 5px 0 0;
    transition: .6s;
}