.input-group-text {
    width: 33%;
    background-color: var(--grey);
    color: #bbb;
    border: none;
}

.input-group input{
    width: 67%;
    background-color: var(--grey);
    color: #fff;
    border: none;
}

.my-input input,
.my-input textarea,
.my-input select,
.my-input option{
    width: 100%;
    background-color: var(--grey);
    color: #fff;
    border: none;
}

.my-button:not(:disabled):not(:disabled):active{
    background-color: var(--red);
}

.dropdown-menu{
    max-height: 240px;
    overflow-y: auto;
}

.actor-input{
    width: 45%;
}

.character-input{
    width: 45%;
}

#addCharBtn, #delCharBtn{
    width: 20%;
    margin: 0 .5em;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: transparent;
}